html {
  font-size: 16px;
  color: white;
}

header {
  position: relative;
  top: 0;
  margin-top: 1em;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 2%;
}

body {
  margin: 0;
  color: black;
  background-image: url(https://wallpaper.forfun.com/fetch/ad/ad9de72cd81eeafc933dc66180f00229.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  position: relative;
  margin: 2% auto;
  float: center;
  width: 900px;
  height: 600px;
  text-align: center;
  background: rgb(255, 255, 255, 0.8);
  border-radius: 2rem;
}

table {
  font-size: 1.05em;
  margin: 0 auto;
  padding-top: 2em;
  width: 800px;
  table-layout: fixed;
}

h3 {
  margin-bottom: -0.5em;
}

footer {
  margin-left: 2em;
  color: #fff;
  text-align: left;
  position: fixed;
  font-size: 1.7em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
