html {
  font-size: 16px;
  color: white;
}

header {
  position: relative;
  top: 0;
  margin-top: 10em;
  text-align: center;
}

body {
  font-family: Arial;
  color: #100873;
  background-image: url(https://avatars.mds.yandex.net/i?id=6c93ecf65f82212d5912a850fb76c92f_l-12983374-images-thumbs&n=13);
  margin: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.container {
  position: relative;
  margin: 2% auto;
  float: center;
  width: 1200px;
  height: 1600px;
  text-align: center;
  background: rgb(255, 255, 255, 0.8);
  border-radius: 2rem;
}

.paimon {
  position: absolute;
  height: 410px;
  top: 170px;
  left: -120px;
}

.table {
  font-size: 1em;
  margin: 0 auto;
  width: 1050px;
  table-layout: fixed;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  text-align: left;
  padding-left: 3em;
  padding-top: 1.5em;
}

table h1 {
  padding-left: 3em;
  padding-top: 1.5em;
  margin-bottom: -0.01em;
}

table h3 {
  margin-bottom: -0.5em;
  font-weight: 800;
  font-size: 1.3em;
  overflow: hidden;
}

table p {
  padding-bottom: 0.5em;
  height: 1em;
}

.teapot {
  height: 300px;
  width: 1050px;
  margin: 1em auto;
  border-radius: 2rem;
  background: rgb(16, 8, 115, 0.4);
}

.teapotcard {
  position: relative;
  height: 150px;
  background: rgb(16, 8, 115, 0.3);
  top: 100px;
}

.teapotimg { 
  position: relative;
  height: 400px;
  float: right;
  left: 140px;
  top: -160px;
}

.teapottable {
  position: absolute;
  top: 660px;
  left: 80px;
  table-layout: fixed;
  color: white;
  border-spacing: 3em;
}

.tools h1 {
  position: relative;
  top: 140px;
  right: 70px;
}

.column-container {
  position: absolute;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative; 
  top: 150px;
  left: 35px;
  border: 1px solid rgb(16, 8, 115, 0.2);
  border-radius: 10px;
  width: 14.8%;
  margin: 0 auto;
  padding: 1em 1.5em;
  transition: 0.7s;
}

.card:hover {
  position: relative;
  top: 147px;
  left: 38px;
  color: #fff;
  background: rgb(16, 8, 115, 0.8);
  cursor: pointer;
}

.card p {
  margin-top: 0.5em;
  font-size: 1.2em;
  font-weight: 700;
}

hr {
  margin-top: 28em;
  margin-left: 2.2em;
  margin-right: 1em;
  background: rgb(16, 8, 115, 0.8);
}

.Raiden {
  position: relative;
  height: 500px;
  top: -10em;
  right: 10em;
}

.Candacie {
  position: relative;
  height: 500px;
  top: -6em;
  right: -21em;
}

footer {
  margin-left: 2em;
  color: #fff;
  text-align: left;
  position: fixed;
  font-size: 1.5em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
